* {
	margin: 2px;
}


h1 {
	text-align: center;
	font-family: 'Lobster', cursive;

}

#day0, #day1, #day2, #day3,
#day4, #day5, #day6, #day7,
#day8, #day9, #day10, #day11 {
	text-align: center;
	padding: 1em;
	font-family: 'Sedgwick Ave Display', cursive;
}

body {
	background: url("../img/cbackground.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

